hoc/node_modules
hoc/bundle.js
hoc/npm-debug.log

middleware/node_modules
middleware/bundle.js
middleware/npm-debug.log

testing/node_modules
testing/bundle.js
testing/npm-debug.log

authentication/server/node_modules
authentication/server/bundle.js
authentication/server/npm-debug.log
authentication/server/config.js

authentication/client/node_modules
authentication/client/bundle.js
authentication/client/npm-debug.log

# IntelliJ
*.iml
/.idea
